.search-bar {
  border: 4px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  margin-bottom: 20px;
}

.search-btn {
  background-color: var(--primary-color);
  color: var(--highlight-color);
  border: 4px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
}

.app-box {
  border: 4px solid var(--primary-color);
  border-radius: 5px;
  padding: 5px 10px;
  width: 100%;
  margin-top: 10px;
}

.Synonyms {
  margin: 30px 0 0;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 15px;
}

.Antonyms {
  margin: 30px 0 0;
  padding: 0;
}

.Antonyms li {
  display: inline-block;
  padding-right: 15px;
}

.Example {
  margin-top: 10px;
}

.photo-box {
  margin: 3px;
  border-radius: 20px;
  padding: 5px 10px;
  width: 100%;
}
